<h1>Editing upload</h1>

<%= render 'form' %>

<%= link_to 'Show', @upload %> |
<%= link_to 'Back', posting_uploads_path %>
<%= link_to 'Delete Upload', @upload, method: :delete, data: { confirm: 'Are you sure?' } %>
